
/* Navigation style */
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #74AA2F;
    height: 10vh;
    color: white;
}
.logo{
    margin-top: 10px;
    font-size: 20px;
}
ul{
    margin-top: 20px;
    margin-right: 50px;
}

ul li{
    display: inline-block;

}
ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 20px;
}

/* Section home */
#Home{
    background-image: url("./images/istockphoto-1308922627-612x612.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

 .content{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 200px;
 

}


/* About us section */
#about{
    height: 60vh;
}

.aboutBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}


/* section therapy */
#therapist{
    background-color: black;
    color:white;
   
}


.therapist-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-around;
  


    
}
.therapist-column{
    display: flex;
    flex-direction: column;
    border: 2px solid  #74AA2F;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    width: 25%;
    justify-content: space-around;

}

/* Blogs style */


.blogrow{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-around;

  
}

.blogcolumn{
    display: flex;
    flex-direction: column;
    width: 30%;
}